@font-face {
  font-family: "Averta";
  src: url("./averta-bold-webfont.woff2") format("woff2"), url("./averta-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("./averta-extrathin-webfont.woff2") format("woff2"), url("./averta-extrathin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("./averta-light-webfont.woff2") format("woff2"), url("./averta-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("./averta-regular-webfont.woff2") format("woff2"), url("./averta-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Averta";
  src: url("./averta-thin-webfont.woff2") format("woff2"), url("./averta-thin-webfont.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
html, body, p, span, div, a {
  font-family: "Averta", sans-serif;
}

