/* Webfont: Zayley-Regular */@font-face {
    font-family: 'Zayley';
    src: url('Zayley-Regular.eot'); /* IE9 Compat Modes */
    src: url('Zayley-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Zayley-Regular.woff') format('woff'), /* Modern Browsers */
         url('Zayley-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Zayley-Regular.svg#Zayley-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

