/* Webfont: Edingu-Regular */@font-face {
    font-family: 'Edingu';
    src: url('Edingu-Regular.eot'); /* IE9 Compat Modes */
    src: url('Edingu-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Edingu-Regular.woff') format('woff'), /* Modern Browsers */
         url('Edingu-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Edingu-Regular.svg#Edingu-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

