/*! main.scss | Vulk | Css ninja 2022-2023 */

/*
    1. Main SCSS imports
*/

[data-theme] {
  background: #f5f6fa;
}

body, html {
  background-color: #f5f6fa;
}

#app {
}

.modal.is-active {
  opacity: 1;
  visibility: visible;
}

.card {
  flex-grow: 1;
}


/* ==========================================================================
1. Main SCSS imports
========================================================================== */

@import "packageas/vant";

// bulma-css-vars
@import './bulma-generated/generated-vars.sass';

// import abstracts content (variables override / functions)
@import './abstracts/all';

// import css variables
@import './css-variables/all';

// Here we import bulma-css-vars instead of bulma
// because we want to use the variables defined in the file
@import './node_modules/bulma-css-vars/bulma-cv-lib';

// import utilities
@import './utilities/all';



.dash {
  @import './packageas/dashboard';
}
